<p>maintenances {{ maintenances | json }}</p>

<p>busses {{ busses | json }}</p>



    <!-- Button add maintenance -->
    <button class="btn btn-dark rounded-1 text-uppercase" (click)="openModalAddMaintenance(addMaintenanceTemplate)">
        <i class="fa fa-plus" style="margin-right: 3px;" aria-hidden="true"></i>
        Lisää huolto
    </button>

    <!-- Add maintenance modal -->
    <ng-template #addMaintenanceTemplate>

        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title pull-left">Lisää huolto</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="modalRef?.hide()">
            </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="addMaintenance()" id="addMaintenance">

                <!-- Info -->
                <input class="form-control rounded-1 mt-3" [(ngModel)]="newMaintenance.info" 
                        placeholder="Huollon nimi" name="info">

                <!-- Select bus -->
                <select class="form-select rounded-1 mt-3"
                     [(ngModel)]="newMaintenance.busId">
                     <option [ngValue]="" selected>
                        Valitse bussi
                    </option>
                    <option *ngFor="let bus of busses" value="{{ bus.id }}">
                        {{ bus.regNumber | uppercase }}
                    </option>
                </select>

                <!-- Timestamp -->
                <input class="form-control rounded-1 mt-3" [(ngModel)]="newMaintenance.timestamp" 
                    placeholder="Viimeinen huolto" name="timestamp"
                    bsDatepicker [bsConfig]="bsConfig" value="date">

                <!-- Next maintenance timestamp -->
                <input class="form-control rounded-1 mt-3" [(ngModel)]="newMaintenance.nextMaintenanceTimestamp" 
                    placeholder="Seuraava huolto" name="nextMaintenanceTimestamp"
                    bsDatepicker [bsConfig]="bsConfig" value="date">

                <!-- Select maintenance type -->
                <select single class="form-select rounded-1 mt-3" name="maintenanceType"
                     [(ngModel)]="newMaintenance.maintenanceType">
                     <option value="">
                  
                    </option>
                </select>

            </form>
        </div>

        <!-- Buttons -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary rounded-1" aria-label="Close"
                    (click)="modalRef?.hide()">
            Peruuttaa
            </button>
            <button type="button" class="btn btn-dark px-4 rounded-1" (click)="addMaintenance()"
                    form="addMaintenance">
            Lisää
            </button>
        </div>

    </ng-template>


    <!-- Bus maintenances -->
    <ng-container *ngFor="let bus of busses">

        <!-- Card -->
        <div class="card w-100 mt-4 mb-4 rounded-1 border-0">

            <!-- Card body -->
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title text-uppercase fw-semibold" >{{bus.regNumber}}</h5>
                    </div>

                    <div class="col-4">
                        <div class="d-flex justify-content-md-end">
                            <button class="btn btn-dark btn-small rounded-1" (click)="openModalAddMaintenance(addMaintenanceTemplate)">
                                <i class="fa fa-plus" style="margin-right: 3px;" aria-hidden="true"></i>
                                Lisää huolto
                            </button>
                        </div>
                    </div>

                    <!-- Add maintenance modal for bus -->
                    <ng-template #addMaintenanceTemplate>

                        <!-- Modal header -->
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Lisää huolto</h4>
                            <button type="button" class="btn-close close pull-right" aria-label="Close"
                                    (click)="modalRef?.hide()">
                            </button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form #addForm="ngForm" (ngSubmit)="addMaintenance()" id="addMaintenance">

                                <!-- Info -->
                                <input class="form-control rounded-1 mt-3" [(ngModel)]="newMaintenance.info" 
                                        placeholder="Huollon nimi" name="info">

                                <!-- Select bus -->
                                <select class="form-select rounded-1 mt-3"
                                    [(ngModel)]="newMaintenance.busId">
                                    <option [ngValue]="" selected>
                                        Valitse bussi
                                    </option>
                                    <option *ngFor="let bus of busses" value="{{ bus.id }}">
                                        {{ bus.regNumber }}
                                    </option>
                                </select>

                                <!-- Timestamp -->
                                <input class="form-control rounded-1 mt-3" [(ngModel)]="newMaintenance.timestamp" 
                                    placeholder="Viimeinen huolto" name="timestamp"
                                    bsDatepicker [bsConfig]="bsConfig" value="date">

                                <!-- Next maintenance timestamp -->
                                <input class="form-control rounded-1 mt-3" [(ngModel)]="newMaintenance.nextMaintenanceTimestamp" 
                                    placeholder="Seuraava huolto" name="nextMaintenanceTimestamp"
                                    bsDatepicker [bsConfig]="bsConfig" value="date">

                                <!-- Select maintenance type -->
                                <select single class="form-select rounded-1 mt-3" name="maintenanceType"
                                    [(ngModel)]="newMaintenance.maintenanceType">
                                    <option value="">
                                
                                    </option>
                                </select>

                            </form>
                        </div>

                        <!-- Buttons -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary rounded-1" aria-label="Close"
                                    (click)="modalRef?.hide()">
                            Peruuttaa
                            </button>
                            <button type="button" class="btn btn-dark px-4 rounded-1" (click)="addMaintenance()"
                                    form="addMaintenance">
                            Lisää
                            </button>
                        </div>

                    </ng-template>


                </div>

                <div class="row">

                    <table class="table table-hover mt-3">
                        <thead class="table-light">
                          <tr style="color: #495057">
                            <th scope="col">Huolto</th>
                            <th scope="col">Viimeinen huolto</th>
                            <th scope="col">Seuraava huolto</th>
                            <th scope="col">Tyyppi</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let maintenance of bus.maintenances">
                    
                    
                                <td>{{ maintenance.info }}</td>
                                <td>{{ maintenance.timestamp | date: 'dd MMM yyyy' }}</td>
                                <td>{{ maintenance.nextMaintenanceTimestamp | date: 'dd MMM yyyy' }}</td>
                                <td>{{ maintenance.maintenanceType }}</td>
                                <td>
                                    <a class="btn"><i class="fa fa-pencil"></i></a>
                                    <a class="btn"><i class="fa fa-trash-o"></i></a>
                                </td>
                               
                            </tr>
                        </tbody>
                    </table>
                        
                </div>
            </div>   

        </div>
    </ng-container>

