
<div class="container mt-4 mb-3">

    <button class="btn btn-dark rounded-1 text-uppercase" >
        <i class="fa fa-plus" style="margin-right: 3px;" aria-hidden="true"></i>
        Lisää Bussi
    </button>


    <ng-container *ngFor="let bus of busses">

        <div class="card w-100 mt-4 rounded-1" 
            style="border-color: #f0f3e8; border-width: 3px;  border-left-width: 8px; 
            border-left-color: #d9e7cb; background-color: #fdfdf6;">

            <div class="card-body">
              
              <div class="row">

                <div class="col-10">

                    <h5 class="card-title text-uppercase">{{ bus.maker }} {{ bus.regNumber }}</h5>
                    <p class="card-text">Viimeinen Huoltopäivämäärä: {{ bus.lastServiceDate | date: "dd MMMM yyyy" }}</p>

                </div>

                <div class="col-2">

                    <div class="d-flex justify-content-md-end">

                        <button class="btn rounded-1"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button>
            
                    </div>

                    <div class="d-flex justify-content-md-end">

                        <button class="btn rounded-1"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
            
                    </div>

                </div>
 
              </div>

            </div>
          
        </div>

    </ng-container>
    

</div>


