
<h1 class="logo mt-3 ms-2">LINJA</h1>
          <button class="btn btn-md w-100 text-start" [ngClass]="{ 'active' : isBtnActive === 1 }" (click)="toggleBtn(1)" routerLink="/bus">Bussit</button>
          <button class="btn btn-md w-100 text-start" [ngClass]="{ 'active' : isBtnActive === 2 }" (click)="toggleBtn(2)" routerLink="/maintenance">Huollot</button>
          <button class="btn btn-md w-100 text-start" [ngClass]="{ 'active' : isBtnActive === 3 }" (click)="toggleBtn(3)" routerLink="/driving-plan">Ajo-ohjelma</button>